{% extends "bs_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
<style type="text/css">

		.scenario-list-t1 tr {
		border:1px solid #ccc;
		}
		.scenario-list-t1 tr th
		{
		padding:10px;
		margin:10px;
		font-size:14px;
		border: none;
		background-color: #e6e6e6;
		}

		.scenario-list-t1 tr td
		{
		font-size:14px;
		font-weight:normal;
		border: none;

		}

		.scenario-list-t1 tr:nth-child(even)
		{
		background-color: #e6e6e6;
		}
		#tablebl tr {
		border:0px;
		}
		#tablebl tr td {
		border:0px;
		}
		#scenario-list-table .spa
		{
		background-color:#FFFAD3;
		}
	</style>
{% endblock extra_css %}

{% block body_content %}
<div class="well" style="padding:4px;margin:0px;font-size:32px;font-weight:bold;border:none;"><img src="{% static 'img/onecloud_logo.png' %}" style="max-height:50px;" /> Havate</div>
	<div class="well wizard-example" style="padding:0px;border:none;">
	    <div id="MyWizard" class="wizard">
	        <ul class="steps">
	            <li data-target="#step1" class="active">Home
	            </li>
	            <li data-target="#step2">System Discovery
	            </li>
	            <li data-target="#step3">System Info
	            </li>
	            <li data-target="#step4">Network Info
	            <li data-target="#step5">Scenario
	            </li>
	            <li data-target="#step6">Summary
	            </li>
	        </ul>
    	</div>
		<form method="post" action="/submit_settings/">
    	<div class="step-content" style="padding:20px 40px 20px;">
			<div class="step-pane active" id="step1">
				{% include "settings_home.html" %}
			</div>
			<div class="step-pane" id="step2">
					{% csrf_token %}
					<input type='hidden' value="scenario" id="summary-table-settings" name="summary-table-settings">
		       		{% include "settings_discovery_tab.html" %}
		    </div>

			<div class="step-pane" id="step3">
		        	{% include "settings_sysinfo_tab.html" %}
		        </div>

			<div class="step-pane" id="step4">
		        	{% include "settings_network_tab.html" %}
		         </div>

			<div class="step-pane" id="step5">
		        	{% include "settings_scenario_tab.html" %}
		        </div>

			<div class="step-pane" id="step6">
				{% include "settings_summary.html" %}
			</div>
		</div>
	</form>
</div>
{% endblock body_content %}

{% block extra_js %}
<script type='text/javascript'>

        $(document).ready(function() {

            $('#MyWizard').on('change', function(e, data) {
  console.log('change');

  if(data.step===3 && data.direction==='next') {
    // return e.preventDefault();
  }
});

$('#MyWizard').on('changed', function(e, data) {
  console.log('changed');
});
$('#MyWizard').on('finished', function(e, data) {
  console.log('finished');
});
$('.btnWizardPrev').on('click', function() {
  $('#MyWizard').wizard('previous');
});
$('.btnWizardNext').on('click', function() {
populate_con();
  $('#MyWizard').wizard('next','foo');

});
$('#btnWizardStep').on('click', function() {
  var item = $('#MyWizard').wizard('selectedItem');
  console.log(item.step);
});
$('#MyWizard').on('stepclick', function(e, data) {
  console.log('step' + data.step + ' clicked');
  if(data.step===1) {
    // return e.preventDefault();
  }
});

// optionally navigate back to 2nd step
$('#btnStep2').on('click', function(e, data) {
  $('[data-target=#step2]').trigger("click");
});

        });


  function populate_con(){
	if($('#scenario_id_node_number').val())
	{

		var node_number = $('#scenario_id_node_number').val();
		var html_con = '';
		var arr=[];
		var hostname ='';
		var hostip ='';
		var role ='';
		var dep ="";
		html_con += '<table class="scenario-list-t1 table table-condensed" id="summary_table"><thead><tr><th><label>Node Name</label></th><th><label>Role</label></th><th><label>Hostname</label></th><th><label>IP</label></th></tr></thead><tbody>';
		for ( var i = 0; i < node_number; i++ ) {
			if($('input[name="role-'+i+'"]:checked').val()){
				dep="1";
				arr= $('input[name="node_name__'+i+'"]').val().split(' ');
				if (arr[0].toLowerCase().indexOf("cpu") >= 0)
				{
				arr= arr[0].split('CPU');
				}
				if (($('input[name="node_name__'+i+'"]').val()).toLowerCase().indexOf("service profile") >= 0)
				{
				arr= arr[0].split('Service');
				html_con +='<tr style="background-color:#FFFAD3;">';
				}
				else
				{
				html_con +='<tr>';
				}
				html_con +='<td style="border:none;">'+arr[0]+'</td>';
				role = $('input[name="role-'+i+'"]:checked').val();
				html_con +='<td style="border:none;">'+role+'</td>';
				if($('input[name="scenario_hostname__'+i+'"]').val()){
					hostname= $('input[name="scenario_hostname__'+i+'"]').val();
					html_con +='<td style="border:none;">'+hostname+'</td>';
				}
				else{
					html_con +='<td style="border:none;"></td>';
				}

				if($('input[name="scenario_ip__'+i+'"]').val()){
					hostip= $('input[name="scenario_ip__'+i+'"]').val();
					html_con +='<td style="border:none;">'+hostip+'</td>';
					}
				else{
					html_con +='<td style="border:none;"></td>';
					}
				html_con +='</tr>';
			}
		}
		html_con +='</tbody></table>';

	}
if(dep=="1")
	{
	$('#summary_cont').html(html_con);
}
}



 </script>
{% endblock extra_js %}