  <div class="form-group col-md-12">
        <label><span>*</span>UCSM IP Address / Hostname:</label>
			<input type="text" class="form-control input-sm" id="id_ucsm_hostname" name="ucsm_hostname" maxlength="15" value="{{settings_form.ucsm_hostname.value|default_if_none:""}}">
  </div>
	<div class="clearfix"></div>
  <div class="form-group col-md-6">
			<label><span>*</span>Username:</label>
		<input type="text" class="form-control input-sm" id="id_username" name="username" maxlength="12" value="{{settings_form.username.value|default_if_none:""}}" placeholder="username">
  </div>
  <div class="form-group col-md-6" style="margin-left:20px;">
			<label><span>*</span>Password:</label>
		<input type="password" class="form-control input-sm" id="id_password" name="password" maxlength="12" placeholder="password">
  </div>
	<div class="clearfix"></div>
	<button id="run-discovery-button" type="button" class="btn btn-default">Run Discovery</button>

<!--<section id="wrapper">
    <section class="col-md-9">
      <section class="col-md-6">
        <label><span>*</span>UCSM IP Address / Hostname:</label>
        <input type="text" class="input-block-level" id="id_ucsm_hostname" name="ucsm_hostname" maxlength="15" value="{{settings_form.ucsm_hostname.value|default_if_none:""}}">
      </section>
    </section>
    <section class="row">
      <section class="col-md-3">
        <label><span>*</span>Username:</label>
        <input type="text" class="input-block-level" id="id_username" name="username" maxlength="12" value="{{settings_form.username.value|default_if_none:""}}">
      </section>
      <section class="col-md-3">
        <label><span>*</span>Password:</label>
        <input type="password" class="input-block-level" id="id_password" name="password" maxlength="12">
      </section>
    </section>
    <section class="row">
      <section style="col-md-6">
        <button id="run-discovery-button">Run Discovery</button>
      </section>
    </section>
</section>-->
