{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}


<div class="wizard-holder" style='margin:10px 0px'></div>

<div class="wizard" id="installation-wizard" data-title="">

			<!-- Step 1 System Discovery * -->
			<div class="wizard-card wizard-card-overlay" data-cardname="system_discovery">
				<h3>System Discovery *</h3>

				{% csrf_token %}
				<input type='hidden' value="scenario" id="summary-table-settings" name="summary-table-settings">
				{% include "settings_discovery_tab.html" %}

			</div>

			<div class="wizard-card wizard-card-overlay" data-cardname="system_info">
				<h3>System Info *</h3>

              {% include "settings_sysinfo_tab.html" %}
			</div>

			<div class="wizard-card wizard-card-overlay" data-cardname="network_info">
				<h3>Network Info *</h3>

			
						{% include "settings_network_tab.html" %}
			</div>

			<div class="wizard-card wizard-card-overlay" data-onload="" data-cardname="scenario">
				<h3>Assign Roles *</h3>

		
              {% include "settings_scenario_tab.html" %}
	
			</div>

			<div class="wizard-card wizard-card-overlay"  >
				<h3 class="pull-left">Summary</h3> <button type=submit class='pull-right btn btn-primary' id="deploy-button"> Deploy </button>

			      <div class="container" id="summary-content1">
              </div>
              <div>
                <!--<button type=submit class='btn btn-primary' id="deploy-button"> Deploy </button>-->
							
						<table class="table table-striped" id="summary_table">
						<tr>
						<td><label>Cluster Name</label></td>
						<td>Math Cluster</td>
						</tr>
						<tr>
						<td><label>Type of Cluster</label></td>
						<td>Compute Optimized</td>
						</tr>
						<tr>
						<td><label>UCSM HostName</label></td>
						<td>math.ucb.org</td>
						</tr>
						<tr>
						<td><label>Mac Pool</label></td>
						<td>00:28:2f:55:ab:ce</td>
						</tr>
						<tr>
						<td><label>KVM IP Pool</label></td>
						<td>10.12.13.0/8</td>
						</tr>
						<tr>
						<td><label>Node	 Role</label></td>
						<td>worker</td>
						</tr>
						</table>

              </div>			
			</div>

			<div class="wizard-success">
        Submission Succeeded!<br><br>
				<button class="btn btn-success" onClick="javascript:window.location.href='/settings'">New Deployment</button>
    </div>
 
    <div class="wizard-error">
        Submission had an error<br><br>
				<button class="btn btn-warning" onClick="javascript:window.location.href='/settings'">Try Again</button>
    </div>
 
    <div class="wizard-failure">
        Submission Failed<br><br>
				<button class="btn btn-danger" onClick="javascript:window.location.href='/settings'">Try Again</button>
    </div>
			
		</div>

{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">
		<link rel='stylesheet' href='{% static 'css/bootstrap-wizard.css' %}'>
{% endblock extra_css %}
{% block extra_js %}
  <script src="{% static 'js/settings.js' %}"></script>
	<script src='{% static 'js/bootstrap-wizard.js' %}'></script>
	<script>
	var wizard = $("#installation-wizard").wizard({'contentHeight':'400px','contentWidth':'col-md-12','buttons':{
cancelText: "Cancel",
nextText: '<span class="glyphicon glyphicon-chevron-right"></span>',
backText: '<span class="glyphicon glyphicon-chevron-left"></span>',
submitText: "Deploy",
submittingText: "Deploying...",
},'submitUrl':"{% url 'submit_settings' %}"
,'submitMethod':"POST"
,'submitAjax':false});
	wizard.show();
	</script>
{% endblock extra_js %}
