{% load static %}
<div class="container">
	<div class="row">
	    <div class="col-xs-12">
			<h3 style="padding-bottom:0px;margin-bottom:0px;">Welcome to Havate</h3>
			<hr style="padding-top:0px;margin-top:0px;">
		</div>
	</div>
	<div class="row">
	    <div class="col-xs-12 col-md-6">
			<br>
			<br>
			<p style="text-align:justify;">This wizard allows you to deploy OpenStack software and services on Cisco UCS.<br>
			Havate will discover all of the UCS servers, assign roles based on scenarios, and easily build an OpenStack environment.</p><br>
			<br>
			<br>
			<input class="btn btn-success btnWizardNext" id="btnWizardNext" value="Start Installer" type="button" style="margin-bottom:10px;">
		</div>
		<div class="col-xs-12 col-md-6">
			<img class="img-thumbnail" alt="" src="{% static 'img/ciscoucs.jpg' %}" style="display: inline-block;height: auto;max-width: 100%;">
		</div>
	</div>
</div>