*.log
*.pot
*.pyc
*.swp
*~
*.db
local_settings.py
.project
.pydevproject
static
media
local_settings.py
openstack_settings.txt
initrd/
media/
build/
aio.iso
apt
*-key
FinalCD
build
cdsource
indices
key.inc
proto-build/puppet_openstack_builder
source
mini.iso
ubuntu-12.04.4-server-amd64.iso
ubuntu-12.04.3-server-amd64.iso
ubuntu-12.04.4-desktop-amd64.iso
ubuntu-12.04.3-desktop-amd64.iso
