		<div class="span6">
			<h3>Welcome to Havate</h3><br><br>
			This wizard allows you to deploy OpenStack software and services on Cisco UCS.
			Havate will discover all of the UCS servers, assign roles based on scenarios, and easily build an OpenStack environment.
			<br><br><br><br>
			<input class="btn btn-success btnWizardNext" id="btnWizardNext" value="Start Installer" type="button" style="margin-bottom:10px;">
		</div>

		<div class="span6" style="border: 1px solid #dddddd;border-radius:5px;padding:6px;">
			<img class="img-thumbnail" alt="" src="/static/img/ciscoucs.jpg" style="display: inline-block;height: auto;max-width: 100%;">
		</div>
