<div class="container">
	<div class="row">
		<div class="form-group col-md-12">
		  	<div class="row">
				<div class="form-group col-sm-6 col-md-6">
					<div class="row">
						<div class="form-group col-sm-12 col-md-12">
				 		<div class ="panel panel-default" style ="height:100%;padding:2px;">
 						<div class="panel-heading">
 						<span style="font-weight:bold">MacPool</span>- This is the Mac address which it automatically assign to the servers.
 						</div>
						<div class="panel-body">
							<table id="tablebl" class="table" >

						        <tbody>

						          <tr>
						            <td>MAC Pool:<span>*</span></td>
						            <td>
						            	<input type="hidden" id="id_mac_pool" name="mac_pool" value="{{settings_form.mac_pool.value|default_if_none:""}}" >
										<div class="input-group input-group-sm" style="width:250px;">
										<span class="input-group-addon">00:25:B5:</span>
										<input type="text" class="form-control short-mac-input fst" maxlength="2" style="height:30px;padding:2px;margin:0px;">
										<span class="input-group-addon">:</span>
										<input type="text" class="form-control short-mac-input snd" maxlength="2" style="height:30px;padding:2px;margin:0px;">
										<span class="input-group-addon">:</span>
										<input type="text" class="form-control short-mac-input trd" maxlength="2" style="height:30px;padding:2px;margin:0px;">
										</div>
		      						</td>
						          </tr>
						          <tr>
						            <td>Size:<span>*</span></td>
						            <td><input type="text" class="form-control input-sm" style="height:30px;" id="id_mac_pool_size" name="mac_pool_size" maxlength="3" value="{{settings_form.mac_pool_size.value|default_if_none:""}}"></td>
						          </tr>

						        </tbody>
						      </table>
						</div>
					</div>
				</div>
			</div>
				<div class="row">
						<div class="form-group col-sm-12 col-md-12" style="padding-bottom:20px;">
						<input class="btn btn-default btnWizardPrev pull-left" id="btnWizardPrev" value="Back" type="button">
		    			<input class="btn btn-primary btnWizardNext pull-right" id="btnWizardNext" value="Next" type="button">
				</div>
			</div>
 		</div>



 				<div class="col-sm-6 col-md-6 pull-right">
					<div class="row">
				  		<div class="form-group col-md-12">
				  			<div class ="panel panel-default" style ="height:100%;padding:2px;">
	 							<div class="panel-heading">
									<span style="font-weight:bold">KVM</span>- If you do not have KVM pool configured this will configure KVM pool for your UCS cluster which enabled KVM access to UCS servers.
								</div>
								<div class="panel-body" >
									<div class="row" style="padding-left:15px;padding-top:10px;" >
									  		<div class="form-group col-md-12"><br>
											<label>Do you want to Configure KVM IP Pool ?</label>
											<input type="radio" name="kvm-config" id="kvm-config1" value="1" style="margin-left:20px;padding-right:20px;" onclick="javascript:kvm_radio();" /> Yes
											<input type="radio" name="kvm-config" id="kvm-config2" value="2" style="margin-left:20px;padding-right:20px;" onclick="javascript:kvm_radio();" checked /> No
										</div>
									</div>
									<div class="row">
										<div class="form-group col-md-12">
											<div id="kvm_pool" style="display:none;margin:10px;" class="col-md-12">
												<table id="tablebl" class="table" >
										        <tbody>
										          <tr>
										            <td>KVM IP Pool:<span>*</span></td>
										            <td>
														<input type="text" class="form-control input-sm ip-field" id="id_kvm_ip_pool" name="kvm_ip_pool" value="{{settings_form.kvm_ip_pool.value|default_if_none:""}}">
						      						</td>
										          </tr>
										          <tr>
										            <td>Size:<span>*</span></td>
										            <td>
													<input type="text" class="form-control input-sm" name="kvm_ip_pool_size" maxlength="3" value="{{settings_form.kvm_ip_pool_size.value|default_if_none:""}}">
											            </td>
										          </tr>
										          <tr>
										            <td>Subnet Mask:<span>*</span></td>
										            <td>
														<input type="text" class="form-control input-sm ip-field" id="id_subnet_mask" name="subnet_mask" value="{{settings_form.subnet_mask.value|default_if_none:""}}">
										            </td>
										          </tr>
										          <tr>
										            <td>Default Gateway:<span>*</span></td>
										            <td>
														<input type="text" class="form-control input-sm ip-field" id="id_default_gateway" name="default_gateway" value="{{settings_form.default_gateway.value|default_if_none:""}}">
										            </td>
										          </tr>
										            <tr>
										            <td>DNS:<span>*</span></td>
										            <td>
	      											<input type="text" class="form-control input-sm input-not-required ip-field" name="dns" value="{{settings_form.dns.value|default_if_none:""}}">
											        </td>
										          </tr>

										        </tbody>
										      </table>
										   </div>
										</div>
									</div>
								</div>
							</div>
				  		</div>
		  			</div>
 				</div>


			</div>
			</div>
		</div>
</div>

{% block extra_js %}
<script>
function kvm_radio(){
      if($('#kvm-config1').is(':checked')) {
		$('#kvm_pool').show();
      }
      else
      {
      $('#kvm_pool').hide();
      }
  }
</script>
{% endblock extra_js %}
